# - lists all the dependencies your project may have
# - a tool like pip can use this file to install your dependencies

# titanic project related dependencies
Flask
flask-restful
markdown
pandas

# boston_housing project related dependencies
numpy
pandas
matplotlib
scikit-learn
